@import url('https://fonts.googleapis.com/css2?family=Marhey&family=Roboto+Condensed&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 22px;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    overflow-x: hidden;
    font-family: 'Marhey', cursive;
    background-color: rgb(41, 38, 38);
}

.control {
    margin: 4%;
    display: flex;
    justify-content: space-between;
}

#search {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    transition: width 2s;
    padding: 0 10px 0 10px;
}

#search:focus,
#search:hover {
    border-radius: 15px;
    height: 28px;
    width: 150px;
    border: none;
    outline: none;
    padding: 0 10px 0 10px;
}

.btn-group button {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: aqua;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-group .btn-clicked::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scale(1);
}

.btn-group button::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: red;
    transform: scale(0);
    transition: 0.7s;
    transform-origin: center;
}

.btn-group button:hover,
.btn-group .btn-clicked {
    background-color: rgb(41, 38, 38);
    color: white;
    border: none;
}

.btn-group button:hover::after {
    transform: scale(1);
}

.gh {
    position: absolute;
    right: 25px;
    top: 30px;
    width: 25px;
    height: 25px;
    z-index: 2;
    border-radius: 50%;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.box {
    height: 8rem;
    border: 5px solid white;
    transition: 2s;
    overflow: hidden;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.box img:hover {
    scale: 1.5;
    transform-origin: top;
}